services:
  - type: web
    name: rh-backend
    env: node
    region: oregon
    plan: free
    buildCommand: cd backend && npm install --production=false && npx prisma generate && npm run build
    startCommand: cd backend && npm run start:prod
    envVars:
      - key: DATABASE_URL
        sync: false
      - key: JWT_SECRET
        generateValue: true
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 10000
      - key: NPM_CONFIG_PRODUCTION
        value: false
      - key: FRONTEND_URL
        value: https://rh-frontend.onrender.com
